<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>marketingGroups</key>
	<dict>
		<key>url</key>
		<string>marketing-groups</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>60</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>baseUrlType</key>
		<integer>1</integer>
		<key>params</key>
		<array/>
	</dict>
	<key>welcomeCardType</key>
	<dict>
		<key>url</key>
		<string>welcome-card-details</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>1000</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>profileProgress</key>
	<dict>
		<key>url</key>
		<string>profile-progress/[user_id]</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>60</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>profileProgresswithfbId</key>
	<dict>
		<key>url</key>
		<string>profile-progress/[user_id]?fbId=[fbId]</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>60</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>promotions</key>
	<dict>
		<key>url</key>
		<string>promotions</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>60</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>baseUrlType</key>
		<integer>1</integer>
		<key>params</key>
		<array/>
	</dict>
	<key>notificationCount</key>
	<dict>
		<key>url</key>
		<string>notifications/count</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>1000</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>checkTagging</key>
	<dict>
		<key>url</key>
		<string>crownpasses/tagged</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>1000</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>receiveNudge</key>
	<dict>
		<key>url</key>
		<string>nudge</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>60</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>setTaggingStatus</key>
	<dict>
		<key>url</key>
		<string>crownpasses/{:crownpassId}/tagged</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>1000</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>POST</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>setTagging</key>
	<dict>
		<key>url</key>
		<string>crownpasses/{:crownpassId}/tagged</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>1000</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>PUT</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>friendsActivity</key>
	<dict>
		<key>url</key>
		<string>friends-activity/{id}</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>60</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>generateOtpForOutlet</key>
	<dict>
		<key>url</key>
		<string>v2/otp/generate/[user_id]</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>checkin</string>
		<key>MethodType</key>
		<string>POST</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>verifyOtpForOutlet</key>
	<dict>
		<key>url</key>
		<string>v2/otp/verify/[user_id]</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>checkin</string>
		<key>MethodType</key>
		<string>POST</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>checkOtpForOutlet</key>
	<dict>
		<key>url</key>
		<string>v2/otp/[user_id]</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>POST</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>crownpassDetail</key>
	<dict>
		<key>url</key>
		<string>crownpasses-data/[crownpassId]</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>checkin</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>outletFilterList</key>
	<dict>
		<key>url</key>
		<string>filtered-outlets</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>checkin</string>
		<key>MethodType</key>
		<string>POST</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>isAppendUrlParams</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>outletlist</key>
	<dict>
		<key>url</key>
		<string>outlets</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>checkin</string>
		<key>MethodType</key>
		<string>POST</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>isAppendUrlParams</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>rblStatus</key>
	<dict>
		<key>url</key>
		<string>rbl/status</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>rbl</string>
		<key>MethodType</key>
		<string>POST</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>baseUrlType</key>
		<integer>1</integer>
		<key>params</key>
		<array/>
	</dict>
	<key>rblRegister</key>
	<dict>
		<key>url</key>
		<string>rbl/register</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>rbl</string>
		<key>MethodType</key>
		<string>POST</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>baseUrlType</key>
		<integer>1</integer>
		<key>params</key>
		<array/>
	</dict>
	<key>outletDetails</key>
	<dict>
		<key>url</key>
		<string>outlets/[id]</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>outlet</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>baseUrlType</key>
		<integer>0</integer>
		<key>params</key>
		<array/>
	</dict>
	<key>outletSpin</key>
	<dict>
		<key>url</key>
		<string>users/[user_id]/outlets/[outlet_id]/spins</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>outlet</string>
		<key>MethodType</key>
		<string>POST</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>baseUrlType</key>
		<integer>0</integer>
		<key>params</key>
		<array/>
	</dict>
	<key>friendsVisited</key>
	<dict>
		<key>url</key>
		<string>outlets/[id]/friends-visited</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>outlet</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>baseUrlType</key>
		<integer>0</integer>
		<key>params</key>
		<array/>
	</dict>
	<key>campaignDetail</key>
	<dict>
		<key>url</key>
		<string>campaigns/[campaignId]</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>Campaign</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>baseUrlType</key>
		<integer>0</integer>
		<key>params</key>
		<array/>
	</dict>
	<key>smartWalletBalance</key>
	<dict>
		<key>url</key>
		<string>wallet/balance</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>Smart</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>baseUrlType</key>
		<integer>0</integer>
		<key>params</key>
		<array/>
	</dict>
	<key>vouchers</key>
	<dict>
		<key>url</key>
		<string>vouchers/[voucherTypeID]?type=[useType]&amp;outletId=[outletID]&amp;userOfferId=[userOfferId]</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>Payment</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>baseUrlType</key>
		<integer>0</integer>
		<key>params</key>
		<array/>
	</dict>
	<key>booking</key>
	<dict>
		<key>url</key>
		<string>bookings</string>
		<key>cachePolicy</key>
		<string>Payment</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>Payment</string>
		<key>MethodType</key>
		<string>POST</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>baseUrlType</key>
		<integer>0</integer>
		<key>params</key>
		<array/>
	</dict>
	<key>outletBooking</key>
	<dict>
		<key>url</key>
		<string>outlets/[outletid]/bookings</string>
		<key>cachePolicy</key>
		<string>Payment</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>Payment</string>
		<key>MethodType</key>
		<string>POST</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>baseUrlType</key>
		<integer>0</integer>
		<key>params</key>
		<array/>
	</dict>
	<key>applyPromo</key>
	<dict>
		<key>url</key>
		<string>offers</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>checkin</string>
		<key>MethodType</key>
		<string>POST</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>baseUrlType</key>
		<integer>0</integer>
		<key>params</key>
		<array/>
	</dict>
	<key>ePayBalance</key>
	<dict>
		<key>url</key>
		<string>users/[userid]/payment-options?outletId=[outletid]</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>Payment</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>baseUrlType</key>
		<integer>1</integer>
		<key>params</key>
		<array/>
	</dict>
	<key>previousBooking</key>
	<dict>
		<key>url</key>
		<string>outlets/hotels/bookings/[id]</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>outlet</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>baseUrlType</key>
		<integer>0</integer>
		<key>params</key>
		<array/>
	</dict>
	<key>outletSearch</key>
	<dict>
		<key>url</key>
		<string>outlets/search</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>outlet</string>
		<key>MethodType</key>
		<string>POST</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>baseUrlType</key>
		<integer>0</integer>
		<key>params</key>
		<array/>
	</dict>
	<key>getLotteriesDetails</key>
	<dict>
		<key>url</key>
		<string>lotteries</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>Weekly Rush</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>baseUrlType</key>
		<integer>1</integer>
		<key>params</key>
		<array/>
	</dict>
	<key>getParticipants</key>
	<dict>
		<key>url</key>
		<string>lotteries/[id]/participants</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>0</integer>
		<key>category</key>
		<string>Weekly Rush</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>baseUrlType</key>
		<integer>1</integer>
		<key>params</key>
		<array/>
	</dict>
	<key>updateProfile</key>
	<dict>
		<key>url</key>
		<string>/users/[user_id]/profile</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>1000</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>PUT</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>verifyPrimaryNumberOTP</key>
	<dict>
		<key>url</key>
		<string>/users/[userId]/primary-number/otp</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>1000</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>PUT</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>userDataAndSettings</key>
	<dict>
		<key>url</key>
		<string>referrer</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>60</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>updatePrimaryNumber</key>
	<dict>
		<key>url</key>
		<string>users/[user_id]/primary-number</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>1000</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>PUT</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>updateAppRating</key>
	<dict>
		<key>url</key>
		<string>/users/[user_id]/rating</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>60</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>createGuestAccount</key>
	<dict>
		<key>url</key>
		<string>users/guest</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>60</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>crownDetails</key>
	<dict>
		<key>url</key>
		<string>users/[user_id]</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>60</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>GET</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>updateSettings</key>
	<dict>
		<key>url</key>
		<string>users/[user_id]/settings</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>1000</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>PUT</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>verifyOTP</key>
	<dict>
		<key>url</key>
		<string>users/[user_id]/otp</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>1000</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>PUT</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>updateLocationByCityId</key>
	<dict>
		<key>url</key>
		<string>users/[user_id]/city</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>1000</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>PUT</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>updateFacebookLoginDetails</key>
	<dict>
		<key>url</key>
		<string>devices/[device_id]/fb-login</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>1000</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>PUT</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>updateFacebookDetails</key>
	<dict>
		<key>url</key>
		<string>/users/[user_id]/fb-data</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>1000</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>PUT</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>updateFacebookFriendsData</key>
	<dict>
		<key>url</key>
		<string>/fb-friends</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>1000</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>POST</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
	<key>updateFacebookDetails - 3</key>
	<dict>
		<key>url</key>
		<string>/users/[user_id]/fb-data</string>
		<key>cachePolicy</key>
		<string>remote</string>
		<key>cacheInterval</key>
		<integer>1000</integer>
		<key>category</key>
		<string>home</string>
		<key>MethodType</key>
		<string>PUT</string>
		<key>EncodingType</key>
		<string>URL</string>
		<key>isAuthHeaderRequired</key>
		<true/>
		<key>params</key>
		<array/>
	</dict>
</dict>
</plist>
