<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TuneinLife.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C93D70F1E1AAB93001E2B7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C93D7231E1AAB93001E2B7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C93D72E1E1AAB93001E2B7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
